
<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<h1>Secrets</h1>	

	<table class="table table-striped table-dark">
  		<thead>
   			<tr>
     		<th scope="col">Secret</th>
	      	<th scope="col">Likes</th>
	      	<th scope="col">Action</th>	      	
	      	<th scope="col">Delete</th>	
	    	</tr>
	  	</thead>
	  	<tbody>
	  		<% @secrets.each do |s| %>
	   	 	<tr> 	   	    	 
	    	  <td><%= s.content %></td>
	    	  <td><%= s.likes.length %> likes</td>
	    	  <td><% if @mylikedsecrets.include?(s) %>
	    	  	<a href="likes/<%= s.id %>" data-method="delete">Unlike</a>
	    	  	<% else %>
	    	  	<form action="likes/<%= s.id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" name="create" value="Like">
					</form>
				<% end %>	
				</td>
	    	  <td><% if @mysecrets.include?(s) %>	    	  
	    	  	<a href="secrets/<%= s.id %>" data-method="delete">Delete</a>	
	    	  <% end %>
	    	</td>
    		</tr>
    		<% end %>   
  			</tbody>
		</table>
		<br>
		<a href="/secrets/new">Add a secret</a>	
		
</body>
</html>

